.second-row{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.third-row{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.form{
  margin: 10px 20px;
}

.save-btn{
  margin: 20px;
}
