<div class="second-row">

  <div class="company form">
    <mat-form-field appearance="fill">
      <mat-label>company</mat-label>
      <mat-select>
        <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option> -->
      </mat-select>
    </mat-form-field>
  </div>

  <div class="project form">
    <mat-form-field appearance="fill">
      <mat-label>project</mat-label>
      <mat-select>
        <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option> -->
      </mat-select>
    </mat-form-field>
  </div>

  <div class="task form">
    <mat-form-field appearance="fill">
      <mat-label>task</mat-label>
      <mat-select>
        <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option> -->
      </mat-select>
    </mat-form-field>
  </div>

</div>

<div class="third-row">
  <div class="hours form">
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi">
      </mat-form-field>
    </form>
  </div>

  <div class="save-btn form">
    <button mat-raised-button color="warn" class="save">Save</button>
    <!-- <button mat-raised-button color="warn" class="signout" (click)="signOut()">Save</button> -->
  </div>

</div>



