.table{
  width: 90%;
  margin:0 auto;
}

.pointer{
  cursor: pointer;
}

table {
  width: 100%;
}

.spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
