
<div class="full">

  <mat-drawer-container class="example-container" [hasBackdrop]="'true'">
    <mat-drawer class="drawer" #drawer [mode]="'over'">
      <div class="slider-header">
        <h1 class="slider-text">drawer</h1>
      </div>
      <div class="slidebar">
          <button mat-raised-button color="warn" class="signout" (click)="signOut()">Logout</button>
      </div>
    </mat-drawer>


  <mat-drawer-content>
    <div class="test">
      <mat-toolbar class="toolbar" color="warn">
        <button  (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="example-spacer"></span>
        <h3>{{email}}</h3>
      </mat-toolbar>

      <app-content></app-content>
      <div class="table">
        <app-table></app-table>
      </div>
    </div>

    </mat-drawer-content>
  </mat-drawer-container>

</div>

